body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body p {
    margin-left: 1vw;
    margin-bottom: 0.1em;
}

body h2 {
    margin-left: 0.5vw;
    margin-top: 0.3em;
}

body h6 {
    margin-left: 0.3vw;
    opacity: 80%;
}

body hr {
    width: 90vw;
    margin-left: 5vw;
}

body .container-fluid {
    padding-left: 1vw;
    padding-right: 1vw;
}

nav {
    background-color: rgb(157, 216, 255);
}


header {
    background-color: rgba(54, 164, 255, 0.993);
    border-top: 0.1vw;
    border-bottom: 0.1vw;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(47, 120, 255);
    border-style: solid;
    padding-left: 0.2vw;
}

.btn-outline-primary {
    border-color: black;
}

.btn-group a {
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    margin-left: 0.2vw;
    color:black;
}

.navbar-border {
    border-top: 0.15vw;
    border-bottom: 0.15vw;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(47, 120, 255);
    border-style: solid;
}

.person-card {
        border: 1px solid black;
        border-radius: 1em; /* Evenly rounded corners */
        padding: 2vw;
        text-align: center;
        margin: 0.1vw auto;
        background-color: white;
        font-size: 150%;
    }

.person-card:hover {
    border: 1px solid black;
    border-radius: 1em; /* Evenly rounded corners */
    padding: 2vw;
    text-align: center;
    margin: 0.1vw auto;
    background-color: rgb(211, 211, 211);
    font-size: 150%;
}

.contact-info-list li {
    font-style:italic;
    font-size: 120%;
    margin-left: 1em;
    margin-top: 1em;
    color: black;
}

.contact-info-list li:hover {
    font-style:italic;
    font-size: 120%;
    margin-left: 1em;
    margin-top: 1em;
    color: rgb(58, 111, 255);
    text-decoration: underline;
}

.message-us-form .form-row {
    margin-top: 1em;
}

.message-us-form label {
    align-items: top;
    vertical-align: top;
}

/* Media Styling*/

/* Computer */
@media (min-width: 769px) {
    .flex-img {
        border: 2px lightblue solid;
    }
}

/* Styles for tablets */
@media (max-width: 768px) {
    .flex-img {
        border: 2px purple solid;
    }
}

/* Styles for mobile phones */
@media (max-width: 480px) {
    .flex-img {
        border: 2px red solid;
    }
}

